body{
	font-family: 'Montserrat', sans-serif;
	padding:0px !important;
	margin:0px !important;
	color:blue;
}

.nav{
	width:100%;
	height:550px;
	background:url('baner.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.nav img{
	height:65px;
	border-radius:50%;
	animation:logo 2s infinite;
	position:relative;
}
.nav 
#anim {
 position: absolute;
 cursor: pointer;
 width: 200px;
 height: 200px;
 left: 1600px;
 top: -180px;
 }
@keyframes logo{
	0%{top:10px; left:400px;}
	50%{top:10px; left:700px;}
	100%{top:10px; left:400px;}
}
.nav ul{
	margin-top:30px;
	list-style-type:none;
	float:right;
	padding:0px;
}
.nav li{
	display:inline;
	background:#B0E0E6;
	padding:10px; 30px;
	border:2px solid #1E90FF;
	border-radius:25px;
}
.nav a{
	text-decoration:none;
	font-weight:bold;
	letter-spacing:3px;
}
.nav li:hover{
	background:cyan;
	transition:0.5s ease;
}
.kontejner{
	width:100%;
	padding:10px 0px 50px 0px;
	background-color:#B0E0E6;
	text-align:center;
}
#anim {
 position: absolute;
 cursor: pointer;
 width: 200px;
 height: 200px;
 left: 0px;
 top: -10px;
 }
.novo{
	width:100%;
	display:flex;
	background-color:#ADD8E6;
}

.jedan{
	padding:20px 80px;
	width:33%;
	background-color:#B0E0E6;
}

@media screen and (max-width:600px) {
	.nav img{
		display:none;
	}
	.kontejner{
		width:100%;
		padding:5px 0px 5px 0px;
		text-align:center;
	}
	.novo{
		width:100%;
		display:block;
	}
	.jedan{
		padding:20px 80px;
		width:67%;
		background:#f8f8f8;
		text-align:justify;
	}

}
.onama{
	padding:80px 200px 80px 200px;
	text-align:center;
	text-align:justify;
	background:#B0E0E6;
}
.li{
	list-style-type:none;
}
.jedan img{
	height:200px;
	width:280px;
}
.kontakt{
	display:inline-block;
	background:#B0E0E6;
	width:100%;
}
.forma{
	width:650px;
	height:500px;
	padding:0px;
	display:inline;
}
form{
	width:50%;
	text-align:center;
	padding-left: 25%;
}
legend{
	font-weight:bold;
	font-style:italic;
	color:blue;
}
.forma p{
	font-style:italic;
	color:blue;
}

input[type=text] {
	width:75%;
	padding:7px;
	border-radius:7px;
	background-color: #E0FFFF;
	border-color: #4169E1;
	color:blue;
}
input[type=e-mail]{
	width:75%;
	padding:7px;
	border-radius:7px;
	background-color: #E0FFFF;
	border-color: #4169E1;
	color:blue;
}
input[type=datetime-local]{
	background-color:#E0FFFF;
}
input[type=submit]{
	padding:5px 10px;
	border:2px solid #4169E1;
	border-radius:25px;
	background:#4169E1;
	letter-spacing:2px;
	font-weight:bold;
	background-color: #B0E0E6;
	color:blue;
}

textarea {
	background-color: #E0FFFF;
}

.futer{
	padding:5px;
	background:#B0C4DE;
	text-align:center;
	font-weight:bold;
	color:blue;
}